/* Google Fonts  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}

#home {
    width: 100%;
    height: 100vh;
    display: grid;
    padding-top: 50px;
    justify-content: center;
}

.home-container {
    width: 1321px;
    height: 646px;
    background: #161616;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 30px;

}

.home-container .left-col {
    padding: 111px 105px;
}

.home-container .left-col h1 {
    font-weight: 700;
    font-size: 70px;
    line-height: 80px;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.home-container .left-col p {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
}

.home-container .right-col img {
    width: 581px;
    height: 613px;
    position: relative;
    top: 20px;
}

.btn {
    display: block;
    width: fit-content;
    margin-top: 30px;
    padding: 16px 32px;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
    background: #DD0000;
    border-radius: 5px;
    transition: border-radius 0.35s ease-in-out;
}

.home-container .left-col .btn:hover {
    border-radius: 45px;
}

/* match section styling */

#match {
    width: 100%;
    height: 35vh;
}

.match-container {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.match-container .left-col {
    width: 312px;
    height: 312px;
    background-color: #161616;
    border-radius: 10px;
}

.match-container .left-col ul {
    list-style: none;
    padding: 30px;
}

.match-container .left-col ul li .btn {
    display: block;
    width: 256px;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
    background: #DD0000;
    border-radius: 5px;
}

.match-container .left-col ul li .active-btn {
    background-color: white;
    color: #161616;
}

.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
}

.card-container .cards {
    width: 312px;
    height: 362px;
    border: 1px solid #E8E8E8;
    border-radius: 10px;
}

.card-container .cards .text {
    padding-left: 20px;
}

.card-container .cards .flags {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-container .cards-match {
    width: 312px;
    height: 242px;
    display: grid;
    place-content: center;
}

.card-container .cards .text-area {
    text-align: center;
}

.card-container .cards h5 {
    margin-top: 20px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #161616;
    padding: 4px 15px;
    border: 1px solid #161616;
    border-radius: 5px;
    display: inline-block;
    margin-bottom: 15px;
}


.card-container .cards h3 {
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #161616;
    margin-bottom: 20px;
}

.card-container .cards .watch-comment {
    display: flex;
    gap: 30px;
}

.card-container .cards .watch,
.card-container .cards .comment {
    display: flex;
    gap: 10px;
}

.match-container .btn {
    display: none;
}

/* footer section  */

footer {
    width: 100%;
    margin-top: 300px;
    background: #161616;
    height: 30vh;
}

footer .footer-content {
    color: #E8E8E8;
    height: 30vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

footer .footer-content h1 {
    display: inline-block;
}

footer .footer-content ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}

.footer-content .social-link a i {
    padding: 0 10px;
    font-size: 35px;
    color: white;
}

/* responsive for L-Laptop  */
@media all and (max-width:1440px) {
    #match {
        height: 75vh;
        margin-top: 80px;
    }
}

/* responsive for S-Laptop */
@media all and (max-width:1024px) {
    .home-container .left-col h1 {
        font-size: 50px;
        line-height: 50px;
    }

    .home-container {
        width: 100%;
        height: 590px;
    }

    .home-container .right-col img {
        width: 378px;
        height: 432px;
        position: relative;
        right: 25px;
        top: 82px;
    }
}

/* responsive for tablet version  */
@media all and (max-width:768px) {
    #home {
        margin: auto;
        height: 50vh;
    }

    .home-container {
        width: 734px;
        height: 398px;
    }

    .home-container .left-col {
        width: 500px;
    }

    .home-container .right-col {
        width: 400px;
    }


    .home-container .left-col {
        padding: 61px 76px;
    }

    .home-container .right-col img {
        width: 223px;
        height: 240px;
        position: relative;
        right: 25px;
        top: 82px;
    }

    .home-container .left-col h1 {
        font-size: 40px;
        line-height: 40px;
    }

    .home-container .left-col p {
        font-size: 14px;
        line-height: 24px;
        text-overflow: ellipsis;
    }

    #match {
        margin-bottom: 500px;
    }

    .match-container {
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
    }

    .match-container .left-col {
        background-color: transparent;
        width: 55px;
        height: 120px;
    }

    .match-container .left-col ul {
        display: flex;
        justify-content: center;
        gap: 10px;
    }

    .match-container .left-col ul li .btn {
        border: 1px solid #E8E8E8;
        border-radius: 10px;
        width: max-content;
    }

    .match-container .left-col ul li .active-btn {
        border: 1px solid #E8E8E8;
        border-radius: 10px;
    }

    .match-container .btn {
        display: block;
    }

}

/* responsive for mobile  */
@media all and (max-width: 425px) {
    
    html,
    body {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }

    #home {
        padding: 0;
        height: 80vh;
    }

    .home-container {
        width: 100%;
        margin: auto;
        height: 655px;
        flex-wrap: wrap;
        text-align: center;
    }

    .home-container .left-col {
        padding: 28px 28px;
    }

    .home-container .left-col h1 {
        font-weight: 700;
        font-size: 22px;
    }

    .home-container .btn {
        margin: 10px auto;
    }

    .home-container .right-col img {
        width: 233px;
        height: 245px;
        right: -70px;
        top: 28px;
    }

    #match {
        height: 100vh;
    }
    .card-container{
        gap: 15px;
    }
    .match-container .left-col ul {
        flex-wrap: wrap;
    }

    .match-container .left-col {
        height: 320px;
    }

    footer {
        margin-top: 1200px;
    }
}